
<!--{template common/header}-->
<script src="template/an_paly/style/js/jquery.js" type="text/javascript"></script>
<style id="diy_style" type="text/css"></style>
<div class="wp"> 
    <!--[diy=diy1]-->
    <div id="diy1" class="area"></div>
    <!--[/diy]--> 
</div>
<div class="cl" style=" border-top:3px solid #ddd"></div>

<div class="wp mt20">
    <div class="newry_focus"> 
            <!--[diy=diy2]-->
            <div id="diy2" class="area"></div>
            <!--[/diy]--> 
        </div>
</div>
<div class="cl"></div>
<!--[diy=diyad1]-->
<div id="diyad1" class="area"></div>
<!--[/diy]-->
<div class="wp cl mt20">
    <div class="left w620"> 
        <!--[diy=diy5]-->
        <div id="diy5" class="area"></div>
        <!--[/diy]--> 
    </div>
    <div class="right w300">
        <div class="col-special border-top-bold"> 
            <!--[diy=diy6]-->
            <div id="diy6" class="area"></div>
            <!--[/diy]--> 
        </div>
        <span class="blank15"></span> <span class="blank15"></span>
        <div id="guess" class="guess border-top-bold"> 
            <!--[diy=diy7]-->
            <div id="diy7" class="area"></div>
            <!--[/diy]--> 
        </div>
        <span class="blank15"></span> <span class="blank15"></span>
        <div id="guess" class="guess border-top-bold"> 
            <!--[diy=diy8]-->
            <div id="diy8" class="area"></div>
            <!--[/diy]--> 
        </div>
    </div>
</div>
<div class="cl"></div>
<!--[diy=diy9]-->
<div id="diy9" class="area"></div>
<!--[/diy]-->
<div class="wp cl mt20">
    <div class="left w620"> 
        <!--[diy=diy10]-->
        <div id="diy10" class="area"></div>
        <!--[/diy]--> 
    </div>
    <div class="right w300"> 
        <!--[diy=diy11]-->
        <div id="diy11" class="area"></div>
        <!--[/diy]-->
        <div class="border-top-bold"></div>
        <div class="cool-pro border-three plr10"> 
            <!--[diy=diy12]-->
            <div id="diy12" class="area"></div>
            <!--[/diy]--> 
            <span class="blank9"></span> </div>
    </div>
</div>
<span class="blank20"></span> <span class="blank20"></span>


<div class="wp cl"> 
     <!--[diy=m2]-->
    <div id="m2" class="area"></div>
    <!--[/diy]--> 
 <div class="cl"></div>  
 <span class="blank20"></span> <span class="blank20"></span>
 <!--[diy=diyad2]-->
<div id="diyad2" class="area"></div>
<!--[/diy]-->    
<span class="blank20"></span> <span class="blank20"></span>


    <!--[diy=diy18]-->
    <div id="diy18" class="area"></div>
    <!--[/diy]--> 


  
    
    
</div>
<script type="text/javascript">
jQuery(".act_box").slide({ mainCell:".bd ul",titCell:".hd ul", effect:"leftLoop",easing:"easeInOutQuint",delayTime:500, vis:3, scroll:1,autoPlay:true,autoPage:true});
jQuery(".user_ranking").slide({ titCell:".hd li", mainCell:".bd",delayTime:0 });
jQuery(".travel_c").slide({ mainCell:".bd",effect:"fold",switchLoad:"_src",delayTime:0});
</script> 
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script> 
<!--{template common/footer}-->

