<include file="application/Home/view/layouts/header.html"/>

<div id="box">
  <div class="position"><a name="pagetop">您现在的位置：<span class="STYLE5"></span></a><a href="http://php.itcast.cn">PHP学院</a> &gt;&gt; PHP学院班级活动 &gt;&gt; 正文</div>
  <div style="margin-top:8px;" class="fl" id="left">
    <div class="infotop"><img src="/images/infotop.gif"></div>
    <div class="left_content1">
      <div id="printarea">
        <h1 class="infotitle">PHP学院26期就业班开班，我们为何选择传智！</h1>
        <div class="editer">更新时间:<?php echo $list['add_time']?> 来源:<?php echo $list['school_name']?></div>
        <div class="infor">
         <div><span style="font-size:14px;"><strong>&nbsp; &nbsp; 3月20日，26期<a target="_blank" href="http://php.itcast.cn/php/course.shtml">PHP高薪就业班</a>开班。我们为何选择八维？同学们纷纷到讲桌前发表了感言：</strong></span></div>
<div style="text-align: center;"><br>
我是<font color='red'><?php echo $list['student_name']?></font>
论坛看到八维，攒钱半年而来<br>
上了大概一周课以后，我就傻X了！和想像的太不一样了，这班主任比接待的客服还漂亮，懂的也忒多了！没事就是人生，就是理想，就是奋斗。每天动员的同胞们急着眼的学，那叫一个亢奋，这氛围玩两分钟就不好意思看班主任眼神了。更可恨的是讲师阿，那叫一个犀利，一个问题能用八中方法给你整出来，那笔记做的可比他们漂亮的多，那小图花的，想不懂都难。一个个讲师，都是上课庄严哥，课下猥琐哥，一个个段子顺嘴就来！谁叫老师跟谁急，非让叫哥，说是显年轻，行业确实挺年轻，嘿嘿……谁有问题，不管啥时候吱一声嗖嗖的就来了，顾客就是上帝……知无不言，言无不尽，呕心沥血一遍一遍的讲，哼，我早就听明白了，就是不说话。

　　我最喜欢每次休息时的末位辅导，早上尽管睡……不到十点，辅导员就会在群里咋呼的嚷这让去上自习，免费的闹铃阿……嘿嘿，辅导员可是为美女，屁颠屁颠的小跑去了自习室。就这样在无良讲师的打击下，在温柔班主任的安慰下，在美女辅导员的辅导下度过了小半年，转眼到了模拟面试了，很负责说这个相当重要，完全可以减少一半找工作时间，我面试五家拿到三个OFFER模拟面试功不可没阿……人事的问题基本上都在模拟面试上提到了，最后全部拿下……
</strong></span></div>

	
        </div>
      </div>
      <div class="pre">
	               
                       
       	  </div>
      <div class="next">
	  	  </div>

      <div class="clear"></div>
      <div class="share">
	  <!-- Baidu share BEGIN -->
    <div class="bdshare_t bds_tools get-codes-bdshare" id="bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_sqq" title="分享到QQ好友" href="#">QQ好友</a>
		<a class="bds_qzone" title="分享到QQ空间" href="#">QQ空间</a>
		<a class="bds_tqq" title="分享到腾讯微博" href="#">腾讯微博</a>
		<a class="bds_tsina" title="分享到新浪微博" href="#">新浪微博</a>
		<a class="bds_tieba" title="分享到百度贴吧" href="#">百度贴吧</a>
		<a class="shareCount" href="#" title="累计分享0次">0</a>
    </div>
<!-- Baidu share END 需在页面底部添加baidushare.js -->	  
	  </div>
	  <div class="clear"></div>
      <div class="print"><a id="printbutton" href="#">【打印】</a> <a href="#pagetop">【返回顶部】</a></div>
      	  <!-- 评论区 -->
	    	<script type="text/javascript">
	           $(document).ready(function(){
	              	loadcomment('20140328-17081824603', 1);
               });   
	       </script>
	  <div id="commentcontent"></div>
	  <form style="padding:0;margin:0px;" name="comment">
        <input type="hidden" value="20140328-17081824603" name="referenceSource">
        <input type="hidden" value="NEWS" name="type">
        <textarea name="content" style="width:610px;" rows="6" cols="85"></textarea>
        <div class="clear"></div>
        <div class="fabiao">
	      <span class="fl">请输入验证码：<input type="text" style="width:80px;" name="validatecode">  <img width="100" id="kaptchaImage" src="http://manage.itcast.cn:8080/validatecode/comment.jpg"></span><span class="fr"><input type="button" id="savebutton" value="提 交"></span>
	    </div>
	  </form>
	  <div title="评论保存结果" id="dialog"></div><!-- 对话框内容 -->
      <!-- 评论区 -->
	        <div class="clear"></div>
      <div class="ad">
      <!-- 广告区 -->
      <!--<a href="http://icd.itcast.cn"><img border="0" src="http://www.itcast.cn/images/ad/icdad.gif" width="620" /></a>--> 
      <!-- 广告区 -->
      </div>
    </div>
    <div><img src="/images/leftbottom.gif"></div>
  </div>
  <div class="fl" id="right">
    <h4 class="righttitle1"><span class="fl">PHP视频下载</span><span class="fr"><a href="/php/video.shtml">+MORE</a></span></h4>
    <ul class="rightkuang">
       <ul>
<li><a href="http://php.itcast.cn/news/caa9b58b/37b1/47f6/98e3/bd3600c98cfc.shtml">PHP入门到精通教程</a></li>
<li><a href="http://php.itcast.cn/news/7acb031c/5958/42d8/be84/47796e2c1243.shtml">zend framework</a></li>
<li><a href="http://php.itcast.cn/news/a632aeea/df9a/46bf/92f1/896679400a37.shtml">smarty模板引擎 </a></li>
<li><a href="http://php.itcast.cn/news/2889f5ee/060a/4014/a6a8/cff645e79925.shtml">Ajax技术 </a></li>
<li><a href="http://php.itcast.cn/news/166b4e78/01b0/4017/96ae/764cd57432a8.shtml">页面静态化</a></li>
<li><a href="http://php.itcast.cn/news/50b67f71/dba5/4302/8749/b62bcc314bd0.shtml">Memcached缓存技术</a></li>
<li><a href="http://php.itcast.cn/news/61ee8515/a34e/477d/9d5d/662dbff5e161.shtml#">Mysql优化</a></li>
<li><a href="http://php.itcast.cn/news/fd551fd3/9db4/4360/9afa/57f438973108.shtml">轻松搞定网页设计</a></li>
<li><a href="http://php.itcast.cn/news/5805c1ea/1b18/41eb/8fcc/6234659d8b40.shtml">PHP数据库陷阱</a></li>
<li><a href="http://php.itcast.cn/news/94c86c32/a7c1/4d2f/b2b4/ded74c6e1113.shtml">PHP网上支付技术</a></li>
<li><a href="http://php.itcast.cn/news/47d47284/bd39/4322/8aa6/fd48cd51f9df.shtml">PHP报表视频教程</a></li>
<li><a href="http://php.itcast.cn/news/42366bc5/fc13/43f1/a69b/bc57132cfdc7.shtml">Linux视频教程</a></li>
<li><a href="http://php.itcast.cn/news/c31baf40/8fa5/4803/ac4d/6e27086d009f.shtml">Oracle视频教程</a></li>
</ul>

    </ul>
    <div class="rightbottom"><img src="/images/rightbottom.jpg"></div>
   
  </div>
</div>
<include file="application/Home/View/layouts/footer.html"/>