<include file="application/Home/view/layouts/header.html"/>
<DIV id="box">
<DIV class="mbx"><!-- Baidu share BEGIN -->
<DIV id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"><SPAN class="bds_more">分享到：</SPAN><A 
class="bds_sqq">QQ好友</A><A class="bds_qzone">QQ空间</A><A 
class="bds_tqq">腾讯微博</A><A class="bds_tsina">新浪微博</A><A 
class="bds_tieba">百度贴吧</A><A class="shareCount"></A></DIV><!-- Baidu share END 需在页面底部添加baidushare.js -->
<DIV 
style="padding-left: 60px; float: left; _padding-top: 8px;"><B>其它学院入口：</B><IMG 
src="__PUBLIC__/images/sanjiao.jpg"> <A href="http://java.itcast.cn/" 
target="_blank">java学院</A> <IMG src="__PUBLIC__/images/sanjiao.jpg"> 
<A href="http://net.itcast.cn/" target="_blank">.net学院</A><IMG src="__PUBLIC__/images/sanjiao.jpg"> 
<A href="http://ios.itcast.cn/">ios学院</A> <IMG src="__PUBLIC__/images/sanjiao.jpg"> 
<A href="http://c.itcast.cn/">c/c++学院</A><IMG src="__PUBLIC__/images/sanjiao.jpg"> 
<A href="http://icd.itcast.cn/" target="_blank">网页平面设计学院</A></DIV></DIV>
<DIV style="margin-top: 3px;" id="left" class="fl">
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="title1"><SPAN style="padding-right: 20px; font-size: 14px; float: right;">今天我终于来到了心中向往已久的神圣学府--传智播客，开始了改变命运的征途</SPAN><SPAN 
class="STYLE3">我们开学啦</SPAN></H4>
<DIV style="clear: both;" class="ganyan1 huodong1">
<DIV class="fl">
<DIV id="idTransformView2" class="imagecontainer">
<UL id="idSlider2" class="slider slider2">
  <LI><A href="http://php.itcast.cn/subject/phpwzlx/bbs.shtml" 
  target="_blank"><IMG style="width: 297px; height: 216px;" alt="王者来袭--只做中国PHP培训界的领航者!" 
  src="__PUBLIC__/images/20140507122631634.jpg"></A></LI>
  <LI><A href="http://php.itcast.cn/news/20140904/1456540144.shtml?yuanchao" 
  target="_blank"><IMG style="width: 297px; height: 216px;" alt="【精英访谈】PHP袁超：叛逆少年的成长" 
  src="__PUBLIC__/images/20140902180947196.jpg"></A></LI>
  <LI><A href="http://php.itcast.cn/subject/phpzly/bbs.html" 
  target="_blank"><IMG style="width: 297px; height: 216px;" alt="学PHP编程,不做孬种程序员" 
  src="__PUBLIC__/images/20140528133631480.jpg"></A></LI>
</UL>
<UL id="idNum2" class="num">
  <LI>1</LI>
  <LI>2</LI>
  <LI>3</LI></UL></DIV></DIV>
<DIV class="fr shouye">
    <?php foreach($res as $key =>$val){?>
<UL>
  <LI><A href="__ROOT__/index.php/home/jiuye/detial/id=<?php echo $val['id']?>""><IMG style="width: 142px; height: 87px;" alt="传智播客php" src="/bbs/upload/<?php echo $val['image']?>"></A></LI>
  <LI><A class="style3" href="http://php.itcast.cn/news/20131128/10173894392.shtml">曹伟-玩酷我的程序人生</A></LI>
</UL>
    <?php } ?>
</DIV>
<DIV></DIV></DIV>
<DIV class="clear"></DIV>
<P class="kxsy-font1"><IMG src="__PUBLIC__/images/kxsy-tu6.jpg"></P><!--  校园消息  -->
<UL class="huodong11">
  <?php foreach($list as $key => $val){?>
  <LI><IMG src="__PUBLIC__/images/sanjiao-1.jpg"><A 
  href="http://php.itcast.cn/news/20141203/14264847561.shtml" 
  target="_blank"><SPAN 
  ><?php echo $val['a_title']?></SPAN></A></LI>
  <?php }?>
<!--
<li><img src="/images/sanjiao-1.jpg" /><a href="http://www.itcast.cn/news/20140917/17033478626.shtml" target="_blank">我为寻找最初的职业理想而来</a></li>
<li><img src="/images/sanjiao-1.jpg" /><a href="http://dvd.itcast.cn/?php" target="_blank"><span style="color:#0000ff;">网速下载不给力，快来申请最新PHP学习光盘！</span></a></li>
<li><img src="/images/sanjiao-1.jpg" /><a href="http://php.itcast.cn/subject/special/php.html">拒绝&quot;上半天，自学半天&quot;的教学培训</a></li>
<li><img src="/images/sanjiao-1.jpg" /><a href="http://php.itcast.cn/news/20120913/18063829105.shtml" target="_blank">传智播客PHP视频教程配套笔记，更新到第114讲</a></li>
<li><strong><img src="/images/sanjiao-1.jpg" /></strong><a href="http://www.itcast.cn/news/20140917/17205196075.shtml" target="_blank">力排众议来传智</a>！</li>
--></UL><!--  校园消息  -->
<DIV class="clear"></DIV>
<P class="text-r"><A href="http://php.itcast.cn/news/list/48b817de-285d-4981-a85a-ccdb3f42b15b/1.shtml"><IMG 
src="__PUBLIC__/images/jiantoumore.gif"></A></P></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV class="clear"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="title1"><SPAN class="STYLE3">校园</SPAN>动态</H4>
<DL class="ganyan1 huodong1">
  <DT class="fl"><A href="http://php.itcast.cn/news/20131117/14525122556.shtml" 
  target="_blank"><IMG style="width: 286px; height: 215px;" src="__PUBLIC__/images/20131117151902186.jpg"><BR>
  		开拓视野，展现自我，“非你莫属”我们来啦！</A></DT>
  <DD class="huodongfr">
  <H3 class="STYLE7">班级活动</H3>
  <UL class="bjhd">
     <?php foreach($list1 as $key => $val){?>
    <LI><IMG src="__PUBLIC__/images/great.jpg"><A 
    href="http://php.itcast.cn/news/20140328/17081824603.shtml" 
    target="_blank"><?php echo $val['a_title']?></A></LI>
    <?php }?>
   </UL></DD></DL>
<DIV class="clear"></DIV>
<P class="text-r"><IMG src="__PUBLIC__/images/jiantoumore.gif"></P></DIV>
<DIV class="clear"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="ganyan"><SPAN class="STYLE3">论坛</SPAN>热贴<SPAN class="fr"><A href="http://bbs.itcast.cn/">+MORE</A></SPAN></H4>
<DIV class="tie">
<SCRIPT type="text/javascript" src="传智播客PHP学院官网-北京PHP培训_PHP网站开发培训_PHP程序员培训学校_files/api.htm"></SCRIPT>
</DIV>
<DIV class="clear"></DIV></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="ganyan"><SPAN class="fl"><SPAN 
class="STYLE3">PHP培训</SPAN>学员呐喊</SPAN><SPAN class="fr"><A href="http://php.itcast.cn/php/jyjb.shtml">+MORE</A></SPAN></H4>
<DL class="ganyan1 huodong1">
  <DT class="fl"><A href="http://php.itcast.cn/news/20130705/14332258802.shtml" 
  target="_blank"><IMG style="width: 287px; height: 189px;" src="__PUBLIC__/images/20130705170611718.jpg"></A><BR><A 
  href="http://php.itcast.cn/news/20130705/14332258802.shtml" 
  target="_blank">传智播客PHP学院就业明星-张巍</A></DT>
  <DD class="huodongfr">
  <H3 class="STYLE7">就业信息</H3>
  <UL class="bjhd">
      <?php foreach($list2 as $key => $val){?>
    <LI><IMG 
    src="__PUBLIC__/images/great(1).jpg"><A href="__ROOT__/question/qq/id/<?php echo $v['q_id']?>"><?php echo $val['student_name']?> 
    <?php echo $val['job_time']?> &nbsp;<?php echo $val['job_company']?> &nbsp;<?php echo $val['work_money']?></A></LI>
    <?php }?>
    <LI><IMG 
    src="__PUBLIC__/images/great(1).jpg"><A href="http://www.bbs.com/bbs/jiuye/index"><FONT 
    style="color: red;"><B>&gt;&gt;查看更多就业信息</B></FONT></A></LI></UL></DD></DL>
<DIV class="clear"></DIV></DIV>
<DIV class="clear"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="ganyan"><SPAN class="fl"><SPAN class="STYLE3">学员</SPAN>感言</SPAN><SPAN 
class="fr"><A href="http://php.itcast.cn/news/list/0b8acc29-7202-4e1d-a6db-f6dfd3a639bb/1.shtml">+MORE</A></SPAN></H4>
<DIV class="xygy">
<DIV class="ganyanleft fl">
<DL class="ganyan1">
  <DT class="fl"><A href="http://php.itcast.cn/news/6c558812/4811/4576/b342/2307b12ae09a.shtml"><IMG 
  style="width: 108px; height: 71px;" alt="" src="__PUBLIC__/images/xygn03.jpg"></A></DT>
  <DD class="fr"><SPAN class="STYLE6"><A href="http://php.itcast.cn/news/6c558812/4811/4576/b342/2307b12ae09a.shtml">[php学员]</A></SPAN><A 
  href="http://php.itcast.cn/news/6c558812/4811/4576/b342/2307b12ae09a.shtml">钟玲玉：传智，我人生中重要的一站</A></DD>
</DL>
<DIV class="clear"></DIV>
<UL>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/fb4ddfd4/3e47/496a/8c63/7fbe5463bfd3.shtml">李久扬：90后,月薪10k,一封迟..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/5dc90d47/e9e4/4ff5/b156/77539ce525ca.shtml">杜宏海：同学到其它机构学完..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/fbe7a9c2/7cb8/40a0/93c7/3cddcecb76ba.shtml">杨*斌： 
  一个小学生的奋斗史..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/a59c6523/b6ed/4304/a02f/cf7edb613bca.shtml">黄*：传智播客,让我月薪增长到..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/7e39b618/ad36/48f4/b944/f0c088dc025d.shtml">刘传华：传智，我人生中的转折点..</A></LI>
</UL></DIV>
<DIV class="ganyanleft fr3">
<DL class="ganyan1">
  <DT class="fl"><A 
  href="http://php.itcast.cn/news/20120913/11580550824.shtml"><IMG style="width: 108px; height: 71px;" 
  alt="" src="__PUBLIC__/images/20130812133704044.jpg"></A></DT>
  <DD class="fr"><SPAN class="STYLE6"><A href="http://php.itcast.cn/news/20120913/11580550824.shtml">[php学员]</A></SPAN><A 
  href="http://php.itcast.cn/news/20120913/11580550824.shtml">王艳：美女网编,毕业薪水6500</A></DD>
</DL>
<DIV class="clear"></DIV>
<UL>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/20130902/14205610545.shtml">吴思阳：传智之旅-真正的升华..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/20130902/14273649772.shtml">郝建设：短暂时光的改变..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/273e1200/65bb/4bf7/ad99/80f664bb5583.shtml">宋娇：幸好，我选择了传智..</A></LI>
  <LI><SPAN class="STYLE6">[php学员]</SPAN><A href="http://php.itcast.cn/news/83bef091/4cfc/44a5/b0d4/18a862cd5fd3.shtml">李玉宝：零基础学员,刚毕业就拿..</A></LI>
  <LI><A href="http://php.itcast.cn/news/list/0b8acc29-7202-4e1d-a6db-f6dfd3a639bb/1.shtml"><FONT 
  style="color: red;"><B>&gt;&gt;查看更多学员感言</B></FONT></A></LI></UL></DIV></DIV><BR>
<DIV class="clear"></DIV></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV><IMG 
src="__PUBLIC__/images/lefttop.gif"></DIV>
<DIV class="left_content2">
<H4 class="ganyan"><SPAN class="fl"><SPAN 
class="STYLE3">PHP培训</SPAN>名师答疑</SPAN><SPAN class="fr"><A href="http://php.itcast.cn/news/list/cba8c58c-b2d4-4f48-bf64-a10b59fb2666/1.shtml">+MORE</A></SPAN></H4>
<DIV class="msdy">
<DIV class="msdy-left"><IMG src="__PUBLIC__/images/wenhao-1.jpg"></DIV>
<DIV class="msdy-right">
<UL>
    <?php foreach($list3 as $key =>$val){?>
  <LI><A href="__ROOT__/index.php/home/question1/qq/id/<?php echo $val['q_id']?>"><?php echo $val['q_wenti']?></A></LI>
 <?php } ?>
</UL>
<UL>
    <?php foreach($list4 as $key =>$val){?>
  <LI><A 
  href="__ROOT__/index.php/home/question1/qq/id/<?php echo $val['q_id']?>"><?php echo $val['q_wenti']?></A></LI>
  <?php }?>
  <LI><A href="http://www.bbs.com/bbs/question1/index"><FONT 
  style="color: red;"><B>&gt;&gt;查看更多答疑信息</B></FONT></A></LI></UL></DIV><BR></DIV>
<DIV class="clear"></DIV></DIV>
<DIV><IMG 
src="__PUBLIC__/images/leftbottom.gif"></DIV>
<DIV></DIV></DIV>


<DIV id="right" class="fl">
<H4 style="margin-top: 10px;" class="righttitle1"><SPAN 
class="fl">PHP培训开班信息</SPAN></H4>
<DIV class="jyjb-left">
<UL>
<?php foreach($list5 as $k1=>$v1){?>
  <LI style="color: rgb(81, 81, 81); border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; float: left;"><A 
  href="http://php.itcast.cn/php/course/base.shtml"><B><FONT style="color: rgb(81, 81, 81);"><?php echo $v1['p_name']?></FONT></B></A></LI>
  <BR></UL>
<UL style="clear: both;">
	<?php foreach($list6 as $k=>$val) { 
        if($val['p_id']==$v1['p_id']) {
      ?> 
  <LI><A href="http://php.itcast.cn/php/course/base.shtml" target="_blank"><SPAN 
  class="time jyjb-font2"><B></B></SPAN><?php echo $val['k_name']?></A></LI>
  <?php }
  }?>
  
 </UL>
 <?php } ?>
</DIV>
<DIV class="rightbottom"><IMG src="__PUBLIC__/images/rightbottom.jpg"></DIV>
<H4 class="righttitle1 zhaopin"><SPAN class="blue">最新</SPAN>企业招聘</H4>
<DIV class="rightkuang1">
<P class="cent"> <IMG src="__PUBLIC__/images/select.jpg" 
width="256" height="66"></P>
<TABLE style="margin-top: 5px;" class="zhaopinlist" border="0" cellSpacing="0" 
cellPadding="0" width="98%" height="124">
  <TBODY>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16233788127.shtml" 
      target="_blank">上海北岸信息生物谷招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16302725269.shtml" 
      target="_blank">TCL数码科技有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16292068856.shtml" 
      target="_blank">博雅软件集团有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16242833345.shtml" 
      target="_blank">北京南天信息有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16223017278.shtml" 
      target="_blank">北京十方元基科技公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16213222025.shtml" 
      target="_blank">北京天舟通信有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16183668306.shtml" 
      target="_blank">北京新玛互动传媒公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.28</TD></TR>
  <TR></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/1617416903.shtml" 
      target="_blank">北京缔凡思信息技术公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.21</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16165624603.shtml" 
      target="_blank">北京韩购街贸易有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.21</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16155357521.shtml" 
      target="_blank">北京花生米数字科技公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.21</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16145632220.shtml" 
      target="_blank">集慧智佳知识产权管理招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.21</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/20141201/16135856735.shtml" 
      target="_blank">北京金万维科技有限公司招聘</A></TD>
    <TD width="11%">若干</TD>
    <TD width="16%">11.21</TD></TR>
  <TR>
    <TD class="td1" width="73%"><A href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" 
      target="_blank"><SPAN 
      style="color: rgb(255, 0, 0);">更多企业招聘信息请点击……</SPAN></A></TD>
    <TD width="11%"><A href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" 
      target="_blank"><SPAN style="color: rgb(255, 0, 0);">查看</SPAN></A></TD>
    <TD width="16%"><A href="http://www.itcast.cn/news/list/20c133c0-6635-421c-acae-6125b0702b34/1.shtml" 
      target="_blank"><SPAN style="color: rgb(255, 0, 0);">更多</SPAN></A></TD></TR>
  <TR></TR></TBODY></TABLE>
<DIV class="clear"></DIV></DIV>
<DIV class="rightbottom"><IMG src="__PUBLIC__/images/bottom1.gif"></DIV>
<H4 style="margin-top: 3px;" class="righttitle1 zhaopin"><SPAN 
class="blue">常见</SPAN>问题</H4>
<DIV style="padding-top: 18px;" class="rightkuang1">
<UL class="title4">
  <UL class="zhaopinlist wenti">
  <?php foreach($list7 as $k=>$v){?>
	<li><a href="__URL__/qq/id/<?php echo $v['q_id']?>" target="_blank"><?php echo $v['q_wenti']?></a></li>
	<?php } ?>
    
   </UL></UL>
   <h3 class="title2">PHP相关问题</h3>
				<ul class="links">
<ul>
<?php foreach($list8 as $k=>$v1) {?>
<li><a href="__URL__/qq/id/<?php echo $v['q_id']?>" target="_blank"><?php echo $v1['q_wenti'];?></a></li>
<?php } ?>
</ul>

			    </ul>
<DIV class="clear"></DIV>
<P class="text-r"><A href="http://php.itcast.cn/php/question.shtml"><IMG border="0" 
src="__PUBLIC__/images/jiantoumore.gif"></A></P></DIV>
<DIV class="rightbottom"><IMG src="__PUBLIC__/images/bottom1.gif"></DIV>
<H4 class="righttitle1 lianxi"><SPAN class="fl"><SPAN 
class="blue">课程</SPAN>咨询</SPAN></H4>
<DIV class="rightkuang">
<DL>
  <DT style="padding-bottom: 20px;">		北京传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/iP66" 
  target="_blank"><IMG border="0" alt="北京传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/iP66" 
  target="_blank"><IMG border="0" alt="北京传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL>
<DL class="qqtwo">
  <DT style="padding-bottom: 20px;">		广州传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" 
  target="_blank"><IMG border="0" alt="广州传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA2ODg2OF8yMDczMV84MDAwNjg4NjhfMl8" 
  target="_blank"><IMG border="0" alt="广州传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL>
<DL class="qqthree">
  <DT style="padding-bottom: 20px;">		上海传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/djUD" 
  target="_blank"><IMG border="0" alt="上海传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/djUD" 
  target="_blank"><IMG border="0" alt="上海传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL>
<DL class="qqfour">
  <DT style="padding-bottom: 20px;">		武汉传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/P4EE" 
  target="_blank"><IMG border="0" alt="武汉传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/P4EE" 
  target="_blank"><IMG border="0" alt="武汉传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL>
<DL class="qqfive">
  <DT style="padding-bottom: 20px;">		郑州传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/0LVE" 
  target="_blank"><IMG border="0" alt="武汉传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/0LVE" 
  target="_blank"><IMG border="0" alt="武汉传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL>
<DL class="qqsix">
  <DT style="padding-bottom: 20px;">		西安传智播客</DT>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/iP66" 
  target="_blank"><IMG border="0" alt="西安传智播客QQ在线咨询" src="__PUBLIC__/images/qqmfst.jpg" 
  width="99" height="27"></A></DD>
  <DD style="width: 120px; height: 40px; float: left;"><A href="http://cnrdn.com/iP66" 
  target="_blank"><IMG border="0" alt="西安传智播客QQ在线咨询" src="__PUBLIC__/images/qqkczx.jpg" 
  width="99" height="27"></A></DD></DL><!--<dl class="qqsev">
	<dt style="padding-bottom:20px;">
		西安传智播客</dt>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqmfst.jpg" width="99" /></a></dd>
	<dd style="width:120px;height:40px;float:left;">
		<a href="http://cnrdn.com/iP66" target="_blank"><img alt="西安传智播客QQ在线咨询" border="0" height="27" src="http://www.itcast.cn/images/qqkczx.jpg" width="99" /></a></dd>
</dl>-->
<DIV class="clear"></DIV></DIV>
<DIV class="rightbottom"><IMG src="__PUBLIC__/images/rightbottom.jpg"></DIV></DIV></DIV>
<DIV class="clear"></DIV><!-- 友情链接 -->
<DIV class="content">
<DIV class="friendlink_con">
<DIV class="friendlink">
<DIV class="friendlink_style01"><IMG src="__PUBLIC__/images/youqin.jpg" 
width="37" height="87"></DIV>
<DIV class="friendlink_style03">
<UL>
  <LI><A href="http://www.sietoo.com/" target="_blank">深圳网站建设</A></LI>
  <LI><A href="http://www.ibeifeng.com/" target="_blank">北风网</A></LI>
  <LI><A href="http://www.wangxiaowang.com/" target="_blank">网络教育</A></LI>
  <LI><A href="http://bbs.17liuxue.com/" target="_blank">澳洲留学DIY</A></LI>
  <LI><A href="http://qd.jiajiao400.com/" target="_blank">青岛家教网</A></LI>
  <LI><A href="http://www.028jq.com/" target="_blank">英国留学</A></LI>
  <LI><A href="http://www.shisu-edu.com/" target="_blank">上外留学预科</A></LI>
  <LI><A href="http://lyg.ygjj.com/" target="_blank">连云港家教</A></LI>
  <LI><A href="http://www.wen5u.com/" target="_blank">论文格式</A></LI>
  <LI><A href="http://edu.tianhenet.com.cn/" target="_blank">CFO培训</A></LI>
  <LI><A href="http://baike.zidiantong.com/" target="_blank">百科知识</A></LI>
  <LI><A href="http://www.xjc100.com/" target="_blank">宁波电脑培训</A></LI>
  <LI><A href="http://jl.htexam.com/" target="_blank">吉林省公务员考试网</A></LI>
  <LI><A href="http://bbs.xunkoo.com/" target="_blank">大学生网</A></LI>
  <LI><A href="http://www.0755zixuekaoshi.com/" target="_blank">深圳自学考试网</A></LI>
  <LI><A href="http://www.youzhikew.com/" target="_blank">优质课网</A></LI>
  <LI><A href="http://www.youkao.com/" target="_blank">优考网</A></LI>
  <LI><A href="http://www.fshuayue.com/" target="_blank">成人高考网</A></LI>
  <LI><A href="http://sz.gaofen.com/" target="_blank">深圳教育网</A></LI>
  <LI><A href="http://cjcx.xygmed.com/" target="_blank">执业医师成绩查询</A></LI>
  <LI><A href="http://zs.k8008.com/" target="_blank">科技招商</A></LI>
  <LI><A href="http://www.jsnxs.com/" target="_blank">江苏信用社招聘考试</A></LI>
  <LI><A href="http://www.peixunhu.com/" target="_blank">武汉培训网</A></LI>
  <LI><A href="http://net.thea.cn/" target="_blank">在线课程</A></LI>
  <LI><A href="http://zz.jiajiao400.com/" target="_blank">郑州家教</A></LI>
  <LI><A href="http://keji.3158.cn/" target="_blank">网络教育</A></LI>
  <LI><A href="http://aia.lixinedu.com.cn/" target="_blank">AIA培训</A></LI>
</UL></DIV></DIV></DIV></DIV><!-- 友情链接 --><!-- 页面底部 -->
<include file="application/Home/View/layouts/footer.html"/>