<!--短信找回密码start-->
<?php
session_start();
if($_POST){
	//echo '<pre>';print_r($_POST);print_r($_SESSION);
	if($_POST['mobile']!=$_SESSION['mobile'] or $_POST['mobile_code']!=$_SESSION['mobile_code'] or empty($_POST['mobile']) or empty($_POST['mobile_code'])){
		exit('手机验证码输入错误。');	
	}else{
		$_SESSION['mobile'] = '';
		$_SESSION['mobile_code'] = '';	
		//exit('注册成功。');
		//header("location:http://www.bbs.com/index.php/czlt/zhmm");
		echo "<script>alert('注册成功');location.href='http://www.bbs.com/index.php/czlt/zhmm';</script>";
	}
}
function random($length = 6 , $numeric = 0) {
	PHP_VERSION < '4.2.0' && mt_srand((double)microtime() * 1000000);
	if($numeric) {
		$hash = sprintf('%0'.$length.'d', mt_rand(0, pow(10, $length) - 1));
	} else {
		$hash = '';
		$chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789abcdefghjkmnpqrstuvwxyz';
		$max = strlen($chars) - 1;
		for($i = 0; $i < $length; $i++) {
			$hash .= $chars[mt_rand(0, $max)];
		}
	}
	return $hash;
}
$_SESSION['send_code'] = random(6,1);
?>
<!--短信找回密码end-->
<div id="wp" class="wp">
<script type="text/javascript">
var strongpw = new Array();
strongpw[0] = 1;
strongpw[1] = 2;
var pwlength = 6;
</script>


<div id="ct" class="ptm wp cl">
<div class="nfl" id="main_succeed" style="display: none">
<div class="f_c altw">
<div class="alert_right">
<p id="succeedmessage"></p>
<p id="succeedlocation" class="alert_btnleft"></p>
<p class="alert_btnleft"><a id="succeedmessage_href">如果您的浏览器没有自动跳转，请点击此链接</a></p>
</div>
</div>
</div>
<div class="mn">

<div class="bm" id="main_message">

<div class="bm_h bbs" id="main_hnav">
<span class="y">
<a href="member.php?mod=logging&amp;action=login&amp;referer=http%3A%2F%2Fbbs.itcast.cn%2Fportal.php" onclick="showWindow('login', this.href);return false;" class="xi2">忘记密码？现在找回</a>
</span>
<h3 id="layer_reginfo_t" class="xs2">
找回密码</h3>
</div>

<p id="returnmessage4"></p>

<form method="post" autocomplete="off" name="register" id="registerform" enctype="multipart/form-data" action="">
<div id="layer_reg" class="bm_c">
<input type="hidden" name="regsubmit" value="yes" />
<input type="hidden" name="formhash" value="1c8694aa" />
<input type="hidden" name="referer" value="http://bbs.itcast.cn/portal.php" />
<input type="hidden" name="activationauth" value="" />
<input type="hidden" name="hash" value="" />
<div class="mtw">
<div id="reginfo_a">
<div class="rfm">
    
<table>
<tr>
<th><span class="rq">*</span><label for="cs893">请输入手机号码：</label></th>
<td>
<input id="mobile" name="mobile" type="text" size="25" class="inputBg" /><span style="color:#FF0000"> *</span> 
        <input id="zphone" type="button" value=" 获取手机验证码 " onClick="get_mobile_code();">
</td>

<td class="tipcol"><i id="tip_cs893" class="p_tip">请输入正确的手机号码</i><kbd id="chk_cs893" class="p_chk"></kbd></td>
</tr>
</table>
<table>
<tr>
<th>&nbsp;</th>
<td class="tipwide">
找回密码需要验证手机，请务必填写正确的手机号码，提交后请及时查收信息。<br />您可能需要等待几分钟才能收到信息。
</td>
</tr>
<tr>
    <th><span class="rq">*</span><label for="cs893">验证码：</label></th>
<td>
<input type="text" size="8" name="mobile_code" class="inputBg" />       
</td>
</tr>
</table>
<!--验证码start-->
<script type="text/javascript" src="__PUBLIC__/js/jq.js"></script>
<script language="javascript">
	function get_mobile_code(){
        //alert($);
        $.post('sms.php', {mobile:jQuery.trim($('#mobile').val()),send_code:<?php echo $_SESSION['send_code'];?>}, function(msg) {
            alert(jQuery.trim(unescape(msg)));
                if(msg=='提交成功'){
                        RemainTime();
                        alert('成功');
                }
            });
	};
	var iTime = 59;
	var Account;
	function RemainTime(){
		document.getElementById('zphone').disabled = true;
		var iSecond,sSecond="",sTime="";
		if (iTime >= 0){
			iSecond = parseInt(iTime%60);
			iMinute = parseInt(iTime/60)
			if (iSecond >= 0){
				if(iMinute>0){
					sSecond = iMinute + "分" + iSecond + "秒";
				}else{
					sSecond = iSecond + "秒";
				}
			}
			sTime=sSecond;
			if(iTime==0){
				clearTimeout(Account);
				sTime='获取手机验证码';
				iTime = 59;
				document.getElementById('zphone').disabled = false;
			}else{
				Account = setTimeout("RemainTime()",1000);
				iTime=iTime-1;
			}
		}else{
			sTime='没有倒计时';
		}
		document.getElementById('zphone').value = sTime;
	}	
</script>
<!--验证码end-->
<script type="text/javascript">
function succeedhandle_sendregister(url, msg, values) {
showDialog(msg, 'notice');
}
</script>
</div>
<!--
<span id="seccode_cSebs30z"></span>		
<script type="text/javascript" reload="1">updateseccode('cSebs30z', '<div class="rfm"><table><tr><th><span class="rq">*</span><sec>: </th><td><sec><br/><sec></td></tr></table></div>', 'member::register');</script>-->




</div>

</div>

</div>

<div id="layer_reginfo_b">
<div class="rfm mbw bw0">
<table width="100%">
<tr>
<th>&nbsp;</th>
<td>
<span id="reginfo_a_btn">
<em>&nbsp;</em><button class="pn pnc" id="registerformsubmit" type="submit" name="regsubmit" value="true" tabindex="1"><strong>提交</strong></button>

</span>
</td>
<td></td>
</tr>
</table>
</div>

</form>
</div>
<div id="layer_regmessage"class="f_c blr nfl" style="display: none">
<div class="c"><div class="alert_right">
<div id="messageleft1"></div>
<p class="alert_btnleft" id="messageright1"></p>
</div>
</div>



<script type="text/javascript">
var ignoreEmail = false;
showBBRule();
addMailEvent($('cs893'));
function showBBRule() {
showDialog($('layer_bbrule').innerHTML, 'info', '传智论坛-IT学习社区 网站服务条款');
$('fwin_dialog_close').style.display = 'none';
}
</script>

</div></div>
</div></div>
 
     




<script type="text/javascript">
_attachEvent(window, 'load', getForbiddenFormula, document);
function getForbiddenFormula() {
var toGetForbiddenFormulaFIds = function () {
ajaxget('plugin.php?id=cloudsearch&formhash=1c8694aa');
};
var a = document.body.getElementsByTagName('a');
for(var i = 0;i < a.length;i++){
if(a[i].getAttribute('sc')) {
a[i].setAttribute('mid', hash(a[i].href));
a[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
var btn = document.body.getElementsByTagName('button');
for(var i = 0;i < btn.length;i++){
if(btn[i].getAttribute('sc')) {
btn[i].setAttribute('mid', hash(btn[i].id));
btn[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
}
</script>
