<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="/bbs/admin/Public/css/public.css" />
	<script type="text/javascript" src="/bbs/admin/Public/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/bbs/admin/Public/js/public.js"></script>	
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">查看视频</td>
		</tr>
		<tr>
			<th>视频编号</th>
			<th>视频标题</th>
			<th>视频描述</th>
			<th>视频缩略图</th>
			<th>添加时间</th>
			<th>视频操作</th>
		</tr>
		<?php foreach($list as $val){?>
		<tr>
			<td align='center' ><?php echo $val['v_id'];?></td>
			<td align='center' ><?php echo $val['v_title'];?></td>
			<td align='center' ><?php echo $val['v_desc'];?></td>
			<td align='center' ><img src="__ROOT__/video/<?php echo $val['v_image'];?>" width="50" height="50" border="0" alt=""></td>
			<td align='center' ><?php echo $val['addtime'];?></td>
			<td align='center' >
				<a href="">[修改]</a>
				<a href="__URL__/video_del/id/<?php echo $val['id'];?>" class="del">[删除]</a>
			</td>
		</tr>
		<?php }?>
	</table>
		<div class="page">
			<?php echo $page ?>
		</div>
</body>
</html>